<!DOCTYPE html>
<html lang="en">
<head>
        <title>{{ title }}</title>
</head>
<body>
    <h2>Send Motivation Email, at the Right Time</h2>

    <form action="/action_page.php">
        Subject:<br>
        <input type="text" name="subject" placeholder="Good Day My Friend">
        <br>
        Content:<br>
        <input type="text" name="content" placeholder="A friend loves at all times, and a brother is born for a time of adversity. Proverbs 17:17">
        <br>
        Datetime:<br>
        <input type="text" name="datetime" placeholder="21 Dec 2018 16:00">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</body>